*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.names{
    font-size: 60px;
    font-weight: bold;
    color: white;
}
.header{
    background-color: #333;
    width: 100%;
    height: 100%;
    text-align: center;
    margin: 5px 0px 5px 0px;
    padding: 40px;
}
main{
    padding: 50px;
}
.persection{
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    height: 350px;
}
.persection{
    margin-bottom: 50px;
    text-align: center;
}
.persection h2{
    text-align: justify;
    margin: 0 0 20px;
}
.shoeW{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-shadow: 0 0 10px rgb(0 0 0 0.1);
    overflow: hidden;
    white-space: nowrap;
    width: 98%;
    height: 300px;
    font-weight: bold;
}
.shoeWs img{
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid black;
    border-radius:10px ;
    height: 100px;
    display: inline-block;
    text-align: center;
    background-color: #f0f0f0;
    transition: transform 0.3s ease;
}
.shoeWs h3{
    margin: 0;
}
.shoeWs p{
    margin: 15px 0;
}
.shoeWs button{
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    cursor: pointer;
}
.footer{
    background-color: #333;
    color: white;
    text-align: center;
}
.footers{
    max-width: 1200px;
    margin: 0 auto;
}
.footerss{
    font-size: 20px;
    line-height: 1.5;
}